*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    width: 100%;
    height: auto;
}

.home-page{
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.24), rgba(0, 149, 160, 0.418)), url("https://png.pngtree.com/background/20230317/original/pngtree-sci-fi-city-plant-cyberpunk-background-picture-image_2148982.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
       
}

.header{
    display: flex;
    justify-content: space-between;
    gap: 5;
    align-items: center;
    background: black;
}
.logo-page{
    margin: 0 10px;
}
.logo-title{
    color: aliceblue;
    margin: 10px ;
    position: absolute;
    top: 0;
    font-size: 27px;
}
.nav ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
ul li {
    list-style: none;
}
li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 47px red;
}
.search-bar{
   display: flex;
   position: relaive;
   align-items: center;
   justify-content: center;
   
}
input{
    width: 450px;
    height: 10px;
    position: relative;
    padding: 20px;
    border-radius: 50px;
    background-color: #e4f3f3;
    outline: none;
    border: none;
}
.search-bar button{
 position: absolute;
 display: flex;
 justify-content: flex-end;
 align-items: end;
 gap: 100px;
 padding: 5px 10px;
 background-color: rgb(0, 148, 25);
 color: white;
 cursor: pointer;

}
.btn2{
    position: relative;
    right: 10px;
}
.btn1{
    position: relative;
    right: 80px;
}

.container{
    display: flex;
    justify-content: center;
    margin: 100px 0;
    width: 100%;

}
.home-section{
    padding: 26px 55px;
    margin: 0 10px;
}
.home-section h1{
    color: #e4f3f3;
    font-size: 85px;
    width: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home-section p{
    font-size: 20px;
    margin: 25px 0;
    width: 30%;
    color: white;
}
.home-section button{
    margin: 15px 0;
    padding: 10px 15px;
    font-size: 17px;
    background: #05beec;
    cursor: pointer;
    font-weight: 600;
}
.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 100px 25px;
    position: relative;
}
.social-link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 100px 0;
}
.social-link img{
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
    transition:  ease-in-out;
}
.social-link::after{
    content: '';
    position: absolute;
    background-color: white;
    height: 1px;
    width: 190px;
    top: -50px;
    transform: rotate(90deg);
}

.social-link img:hover{
    transform: scale(1.1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) ease-in;
}

#searchResult{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    top: 50px;
    right: 0;
    
}
#searchResult.with-results {
    background-color: #0caffa8c;
    width: 450px;
    height: 550px; 
    overflow-y: scroll; 
    overflow-x: hidden;
}


.list-result{
   padding: 10px 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 14px 0;
   width: 100%;
   
    
}

.parent-container{
    display: block;
    position: relative;
    padding-left: 10px;
   
    
}

.show-img{
    object-fit: cover;
    image-rendering: optimizeQuality;  
}
.under-section{
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.192);  
    color: #e4f3f3; 
}
